{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Estacionamientos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/varios.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'inicio' %}">Estacionamientos Privados<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'publico' %}">Estacionamientos Publicos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'comollegar' %}">¿ Como llegar ?</a>
            </li>
            {% if user.tipo == 'ARRENDATARIO' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'newest' %}">Agregar Estacionamiento</a>
            </li>
            {% else %}
            
            {% endif %}
          </ul>
        </div>
    </nav>
    <div style="margin-right: 9px" class="log">
    {% if user.is_authenticated %}
        Hola {{ user.username }} !
        <p><a href="{% url 'logout' %}">Salir Usuario</a></p>
    {% else %}
        <p>Aun no te registras!!</p>
        <a href="{% url 'login' %}">Iniciar Sesión</a>|
        <a href="{% url 'signup' %}">Registrarte</a>
    {% endif %}
    </div>
    <br>
    <main>
    {% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
    {% endif %}
    </main>
</body>
</html>